@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


@layer utilities{
    
  // .cookie-green-button, .cookie-red-button{
  //   @apply text-inherit;
  // }


    .cookie-green-button:hover, .cookie-red-button:hover{
      @apply text-white
    }

    .cookie-green-button:not(:hover), .cookie-red-button:not(:hover){
      @apply text-inherit;
    }



    // @keyframes main-cookie-buttons {
      
    // }
    
    .cookie-green-button:hover::after{
      @apply bg-green-600;
    }

    .cookie-green-button:not(:hover)::after{
      @apply bg-green-600;
    }
  
    .cookie-red-button:hover::after{
      @apply bg-red-600;
    }

    .cookie-red-button:not(:hover)::after{
      @apply bg-red-600;
    }

  .cookie-green-button:hover::after, .cookie-red-button:hover::after{
    @apply border-2 rounded-md min-h-full -z-10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    animation: cookie-anime-button 1000ms linear 0s 1 normal forwards;
  }

  .cookie-green-button:not(:hover)::after, .cookie-red-button:not(:hover)::after{
    @apply border-2 rounded-md min-h-full -z-10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    animation: cookie-anime-button2 1000ms linear 0s 1 normal forwards;
  }

  @keyframes cookie-anime-button {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }
  @keyframes cookie-anime-button2 {
    0%{
      width: 100%;
    }
    100%{
      @apply border-none;
      width: 0%;
    }
  }

  .clicked::after{
    @apply bg-gray-500;
    content: "";
    z-index: 3 ;
    width: 5px ;
    height: 5px ;
    position: absolute ;
    border-radius: 100% ;
    bottom: 0 ;
    left: 50% ;
  }


  #yellow-page-text{
    display: block;
    animation: yellowPageText 4000ms ease-in-out 0s infinite;
  };

  .phone-nav{
    display: hidden;
  }

  @media screen and (max-width: 640px){

    footer{
      @apply mb-7;
    }
    .phone-nav{
      box-shadow: 0px -1px 10px -3px; 
      @apply shadow-inherit;
      animation: animate-phone-nav 3000ms ease-in 0s 1;
    }

    @keyframes animate-phone-nav {
      0%{
        transform: translateY(140px);
      }
      50%{
        transform: translateY(140px);
      }
      100%{
        transform: translateY(0px); 
      }
    }
    .header-wrapper{
      @apply shadow-none;
    }

    .phone-nav-icon{
      @apply text-center;
    }


    .phone-nav-clicked::after{
      @apply bg-gray-700 rounded-full overflow-hidden;
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      animation: animate-phone-button 1000ms linear 0s 1;
    }

    .phone-nav-shows::after{
      @apply bg-gray-700 rounded-full overflow-hidden;
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  
    @keyframes animate-phone-button {
      0%{
        width: 0%;
      }
      100%{
        width: 100%;
      }
    }
    
  }


  @keyframes yellowPageText {
    0%{
      transform: translateY(50%);
      opacity: 0;
    }
    50%{
      transform: translateY(0%);
      opacity: 1;
    }
    100%{
      transform: translateY(50%);
      opacity: 0;
    }
  }

  .loading-text{
    animation: loadingText 6s linear 0s 1;
  }

  .second-splash{
    transform-origin: 50% 50%;
    animation: animateColor 1s linear 0s 1;
  }

  .typist{
    animation: showTypist 1500ms ease-in 0s 1;
  }

  @keyframes loadingText {
    0%{
      transform: translateY(40px);
      opacity: 0;
    } 
    80%{
      transform: translateY(40px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }   
  }

  @keyframes showTypist {
    0%{
      transform: translateY(80px);
      opacity: 0;
    }
    50%{
      transform: translateY(80px);
      opacity: 0;
    }
    100%{
      transform: translate(0px);
      opacity: 1;
    }
  }
  
  @keyframes animateColor {
    0%{
      transform: scale(0);
      border-radius: 100%;
    }
    // 77%{
    //   border-radius: 100%;
    // }
    100%{
      transform: scale(1);
      border-radius: 0%;
    }
    
  }

  .loading-text{
    position: absolute;
    bottom: 20%;
    left: 40%;
    right: 40%;
  }

  .descendants:nth-of-type(2){
    transform-origin: 50% 50%;
    animation: pulsy 1s linear 0s infinite alternate none;
  }

  .descendants:nth-of-type(3){
    filter: saturate(60);
  }

  @keyframes pulsy{
    0%{
      opacity: 1;
      scale: 0.9;
    }
    100%{
      opacity: 0.4;
      scale: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference){
    #show-projects{
      scroll-behavior: smooth;
    }
  }

  @media screen and (max-width: 700px){
    .iframe-nav{
      display: none;
    }
  }

  .iframe-nav{
    width: auto;
    transition: width 3000ms;
  }

  .iframe-nav:hover{
    width: 100px;
    cursor: pointer;
  }

  .iframe-nav:active{
    @apply bg-gray-600 text-white
  }


  .oblivion{
    transform-origin: 50% 50%;
    animation-name: scalein;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }


  @keyframes scalein {
    0%{
      opacity: 0;
      transform: scale(1.5);

    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  .page{
    animation-name: pageshow;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }

  @keyframes pageshow {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .animate-show{
    animation-name: show;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }

  @keyframes show{
    0%{
      opacity: 0;
      transform: translate(0, 15px);
    }
    75%{
      opacity: 0.9;
    }
    100%{
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .flip{
    transform-origin: 50% 0%;
    animation-name: flipanime;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  @keyframes flipanime {
    0%{
      opacity: 0;
      transform: rotate3d(0, 1, 0, 90deg) scaleX(0.0);
    }
    100%{
      opacity: 1;
      transform: rotate3d(0, 1, -90deg) scaleX(1.0);
    }
  }
}

@layer components{
  .card{
      @apply flex items-center justify-center;
     width: 300px;
     height: 100px;
     background-color: theme("colors.twitter-blue");
     border-radius: 8px;
     border: 0.7px solid #eee;
     box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 6px -2px rgba(0, 0, 0, 0.2);
  }
  .font-monoton{
    font-family: 'Monoton', sans-serif;
  }

}

@layer base{


  body{
    @apply text-gray-700 selection:bg-slate-900 selection:text-white;
    scroll-padding-right: 10px;
  }
  .current-projects{
    display: inline-block;
  }

  iframe{
    transform-origin: 0% 50%;
    width: 500px;
    height: 550px;
    transform: scale(0.75);
    cursor: crosshair;
  }

  @media (max-width: 750px){
    iframe{
      width: 590px;
      height: 700px;
      transform: scaleX(0.58) scaleY(0.8);
      gap: -8px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #show-projects{
      height: 720px;
    }

    #home-section{
      overflow: hidde;
    }
  }

  .caption-link a::before, .caption-link a::after{
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  .caption-link:nth-of-type(1) a::before{
    content: "< ";
    color: transparent;
  }

  .caption-link:nth-of-type(1) a::after{
    content: " />";
    color: transparent;
  }

  .caption-link:nth-of-type(1) a:hover::before{
    color: orangered;
  }
  .caption-link:nth-of-type(1) a:hover::after{
    color: orangered;
  }
  .caption-link:nth-of-type(2) a::before{
    content: "🕸";
    color: transparent;
  }

  .caption-link:nth-of-type(2) a::after{
    content: "🕸";
    color: transparent;
  }

  .caption-link:nth-of-type(2) a:hover::before{
    color: orangered;
  }
  .caption-link:nth-of-type(2) a:hover::after{
    color: orangered;
  }
}
